
/** NAVBAR */
.navbar-custom {
    background-color: #28a745;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(168, 168, 168, 1) !important;
}

.nav-link{
    color: rgba(168, 168, 168, 1) !important;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.btn-outline-success {
    color: rgba(168, 168, 168, 1) !important;
    border-color: rgba(168, 168, 168, 1) !important;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(168, 168, 168, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }
  
.custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
} 
/* FIM ESTILOS NAVBAR */