<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <% include partes/head.ejs %>
    </head>
    <body>
        <header>
            <% include partes/menu.ejs %>
        </header>
        <main>
           <div style="width: 600px; height: 400px; background-color: lightgreen;" >
               SOU O CORPO DA PÁGINA
           </div>
        </main>
        <footer>
            <% include partes/rodape.ejs %>
        </footer>
    </body>
</html>